{% extends 'base.html' %}


{% block presentation_title %}
NISO/NFAIS Virtual Conference - The Semantic Web: What's New and Cool
{% endblock %}

{% block main %}
<div class="row">
 <section class="col-md-11 pull-left">
  <div class="jumbotron">
   <h2><small>NISO/NFAIS Virtual Conference The Semantic Web: What's New and Cool</small></h2>
   <h1 itemprop="https://schema.org/name">Implementing a BIBFRAME Catalog</h1>
  </div>
 </section>
</div>
<div class="row">
  <section class="col-md-6">
    
    <p class="lead" itemtype="https://schema.org/Person">
    <strong itemprop="https://schema.org/name">Dr. Mike Stabile</strong><br>
    President, Knowledgelinks.io</p>
  </section>
  <section class="col-md-6">
    <p class="lead" itemtype="https://schema.org/Person">
    <strong itemprop="https://schema.org/name">Jeremy Nelson</strong><br>
    Metadata and Systems Librarian, Colorado College<br>
    CIO, Knowledgelinks.io</p>
  </section>
</div>
{% endblock %}

{% block slide_navs %}
<div class="btn-group pull-right" role="group" aria-label="...">
  <a href="{% block previous_page %}{% endblock %}" 
     type="button" class="btn btn-warning btn-lg">
     <span class="glyphicon glyphicon-chevron-left"></span>
     Previous</a>
  <a href="/presentations/niso-2015/" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-home"></span>
  </a>
  <div class="btn-group">
     <button class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown">
     Slides <span class="caret"></span>
     </button>
     <ul class="dropdown-menu">
      <li><a href="bibframe-overview.html">BIBFRAME Vocabulary</a></li>
      <li><a href="bibcat.html">BIBCAT - BIBFRAME Catalog</a></li>
      <li><a href="bibframe-2.0.html">BIBFRAME 2.0</a></li>
      <li class="divider"></li>
      <li>&nbsp;BIBFRAME Triplestore &amp; Search</li>
      <li><a href="languages.html">Languages</a></li>
      <li><a href="identifiers.html">Identifiers</a></li>
      <li><a href="sparql.html">SPARQL Examples</a></li>
      <li><a href="summary.html">Summary</a></li> 
     </ul>
  </div>
    <a href="{% block next_page %}bibframe-overview.html{% endblock %}" type="button" 
     class="btn btn-primary btn-lg">Next
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endblock %}
