  <h2>Moving English to RDF</h2>
  <p class="lead">
   No more tables!!!  One <strong>ID</strong> to rule them all
  </p>
  <p class="lead">
    The <strong>ID</strong> becomes your <strong>URI</strong>: The <em>"Unique Resource Identifier"</em> 
    for the concept of the <em>"English Language"</em>
  </p>
  <p class="lead">
   But wait a minute??? I have five different Identifiers for English in my old system for 
   English. No Worries&hellip;just add an alias (owl:sameAs tag)  </p>
  <img src="/images/eng-same-as.svg">
