<div class="panel panel-default">
 <div class="panel-body">
  <h2>Case Study: Looking at the "English Language"</h2>
  <p class="lead"> 
   How is "English" used in catalog systems?
  </p>
  <ul class="lead">
    <li>as a Subject/Topic: <em>A book written about the English Language</em></li>
    <li>the Language of production: <em>A book written in english</em></li>
    <li>A description of the catalog system language: <em>A comment written in english</em></li>
    <li>Primary language of an author</li>
    <li>Language of a region or country</li>
  </ul>
  <p class="lead">
    In a classical implementation of Relational database "English" would most 
    likely be listed in multiple tables associated with the appropriate usage
  </p>
 </div>
</div>
