<h2>RDF Vocabularies! How important are they?</h2>
    <p class="lead">Answer??? They are <strong>Very</strong> important&hellip;and 
     <strong>Not</strong> as important as we make them out to be.</p>
    <ul class="lead">
     <li>They are primary tool to allow for a machine readable description of the data</li>
     <li>Not as important as we make them to be??? Why not?
       <ul class="lead">
        <li>They are a data tool</li>
        <li>Therefore so long as we know what the vocabulary 
         means we can easily translate from one vocabulary to another.</li>
       </ul>
     </li>
    </ul>
